@model ProjectBlogNew.Entities.Concrete.Article
@{
    ViewData["Title"] = "ArticleAdd";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Yeni Makale Girişi</h1>
<br />
@using (Html.BeginForm("ArticleAdd","Article",FormMethod.Post))
{
    @Html.Label("Makale Başlığı")
    @Html.TextBoxFor(x=>x.ArticleTitle,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.ArticleTitle)
    <br />
    @Html.Label("Makale Görseli")
    @Html.TextBoxFor(x=>x.ArticleCImage,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.ArticleCImage)
    <br />
    @Html.Label("Makale Küçük Görsel")
    @Html.TextBoxFor(x=>x.ArticleCThumbnailImage,new {@class="form-control"})
    <br />
    @Html.Label("Kategori")
    @Html.TextBoxFor(x=>x.CategoryId,new {@class="form-control"})
    <br />
    @Html.Label("Article İçeriği")
    @Html.TextAreaFor(x=>x.ArticleContent,15,3,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.ArticleContent)
    <button class="btn btn-info">Yazıyı Kaydet</button>

}
